*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3FBAC2;
    --secondairy-color: #D3D4D8;
    --light-color: #F5F5F5;
    --dark-color: #4D606E;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 240%;
    color: var(--secondairy-color);
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: var(--dark-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding: .5rem;
    border-radius: .5rem;
}

.todo-container {
    background-color: var(--primary-color);
    min-width: 30rem;
    min-height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.todo-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-item {
    cursor: pointer;
    list-style: none;
    font-size: 160%;
    color: var(--light-color);
}

.todo-container>h2 {

    margin: 2rem auto;
}

.input-container {
    width: 90%;
    margin: 2rem auto;
}