*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #3FBAC2;
    --secondairy-color: #D3D4D8;
    --light-color: #F5F5F5;
    --dark_color: #4D606E;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 240%;
    color: var(--light-color);
}

main {
    background-color: var(--dark_color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    background-color: var(--primary-color);
    min-width: 30rem;
    min-height: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.todo-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
    font-size: 160%;
    color: var(--secondairy-color);
}

.todo-container>h2 {

    margin: 2rem auto;
}

.input-container {
    width: 90%;
    margin: 2rem auto;
}