*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    background-color: blanchedalmond;
    min-width: 30rem;
    min-height: 40rem;
}